body{
    margin:0px;
    border-left:180px solid white;
    border-right:180px solid white;
    border-bottom:60px solid white;
    }

.container {
    background-color:lightgray;
    padding-bottom:40px;
    padding-top:20px;
    padding-left:30px;

}
table, tr, td {
  border: 3px solid black;
  border-collapse: collapse;
}

td{
    height:90px;
    width:90px;
    text-align:center;
    font-size:40px;

    }
